{% if value %}
    <span title="{{ value }}">****</span>
    {% if  item.passwordChanged %}
        <span class="badge badge-dark">Updated: {{ item.passwordChanged|date('Y-m-d H:i:s') }}</span>
    {% endif %}
{% else %}
    <i>Empty</i>
{% endif %}