{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
Katalogas: {{ controller_name }}

    <a href="{{ path('home', {'student': "la ? & naujas domanas bas"}) }}">Pagrindinis</a>

{% endblock %}
