{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}

    <div class="bg-light m-4">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Projektas</th>
                <th scope="row">Studentas</th>
            </tr>
            <tr>
                <td>{{ project }}</td>
                <td>{{ name }}</td>
            </tr>
            </tbody>
        </table>

        {% if name == 'Lukas' %}

            <div class="alert alert-success" role="alert">
                Dešimt balų
            </div>

        {% else %}

            <div class="alert alert-warning" role="alert">
                Gal pasiseks kitą kartą
            </div>

        {% endif %}


    </div>

    <div class="m-4">
        <a class="text-light" href="{{ path('home') }}">Visi studentai</a>
    </div>

{% endblock %}
