{% extends 'base.html.twig' %}

{% block title %}Homework{% endblock %}

{% block body %}

    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Studentai</li>
        {% for student in someVariable %}

            <li class="list-group-item">
                {{ student }}
            </li>
            <div></div>
        {% endfor %}

    </ul>
{% endblock %}
