{% extends 'base.html.twig' %}

{% block title %}Pagrindinis{% endblock %}

{% block body %}
    Pasinkite dalyvį pvz. <a href="{{ path('member', {member: "Vardenis Pavardenis"}) }}">Vardenis Pavardenis</a>
{% endblock %}
