{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>
        body {
            margin: 0;
            padding: 0;
            font-weight: 100;
        }

        .title {
            font-family: 'Lato', serif;
            margin: 20px auto;
            text-align: center;
            font-size: 96px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="title">NFQ Akademija</div>

    <div id="feedback-form">
        {{ render(controller(
            'App\\Controller\\FeedbackController::form',
            { 'request': app.request }
        )) }}
    </div>
{% endblock %}
