{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div id="root">Loading...</div>
<noscript>To use this app, enable JavaScript</noscript>
{% endblock %}
