{% extends 'base.html.twig' %}

{% block title %}Hello PeopleController!{% endblock %}

{% block body %}
    <div id="root">Loading...</div>
    <noscript>To use this app, enable JavaScript</noscript>
    <div>
        Versijuojamas JavaScript failas: <b id="versionedFile">...</b>
    </div>
{% endblock %}
