{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="alert alert-danger">Neturite teisių</h1>

    <a href="{{ path('app_login') }}" class="btn btn-primary">Prisijungti kitu naudotoju</a>
{% endblock %}